<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="xClubsys.BankPayment"/>
<!--       <class name="xClubsys.RefundableDeposit"/>
      <class name="xClubsys.RepeatingDebitNote"/>
      <class name="xClubsys.RefundTransactions"/>
      <class name="xClubsys.DebitNoteModule"/>
      <class name="xClubsys.Instalment"/>
      <class name="xClubsys.CreditNote"/>
      <class name="xClubsys.StatementEnquiry"/>
      <class name="xClubsys.MemberSubscriptionFee"/>
      <class name="xClubsys.BankReturnPay"/>
      <class name="xClubsys.MemberPenaltyFee"/>
      <class name="xClubsys.Reminder"/>
      <class name="xClubsys.PaymentHistory"/>
      <class name="xClubsys.PostingGL"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
